.DS_Store
.merlin
.bsb.lock
*.log
/lib/bs/
/node_modules/
/build/Index.js
/build/index.html
_esy
esy.lock
:merlin-log:
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

.merlin
*.install
*.coverage
*.sw[lmnop]

_build/
_doc/
_coverage/
_opam/

odoc.css
bench.tsv
_esy
node_modules
lib/bs
.bsb.lock
